*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(247, 228, 178);
  margin: 0 1rem;
}
.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
}
h1 {
  margin: 1rem 0;
  letter-spacing: 0.1em;
}
label {
  letter-spacing: 0.1em;
}
#lorem {
  width: 3rem;
  margin: 0 1rem;
  padding: 0.2rem 0;
  text-align: start;
}
button {
  padding: 0.5rem;
  background-color: rgb(231, 118, 98);
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px 0 black;
}
.lorems {
  margin: 2rem 0 0;
}
p {
  line-height: 1.4em;
}
